<template>
  <div class="cases">
    <success-alert :message="successMessage" :onDismissed="onSuccessDismissed" />
    <error-alert :message="errorMessage" :onDismissed="onErrorDismissed" />

    <b-container>
      <b-button-toolbar key-nav aria-label="Toolbar with button groups" class="mb-4 mt-3">
        <b-button-group class="mr-2">
          <b-button block @click="onClickRefreshCases" :disabled="isLoading" id="refreshCases">
            <b-spinner small label="loading-spinner" v-if="isLoading" />
            <b-icon-download v-else /> Refresh Cases
          </b-button>
        </b-button-group>
      </b-button-toolbar>

      <case-list-item class="caseListItem" v-for="c in cases" v-bind:key="c.id" :caseObject="c" />
    </b-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import LooseObject from './../../models/LooseObject'
import serverBus from './../../common/serverBus'
import logger from './../../common/logger'
import { isAuthenticated } from './../../common/authentication'
import gql from 'graphql-tag'
import { CasesQuery, CasesQuery_cases, CasesQuery_cases_categories } from './graphql/CasesQuery'
import { FetchResult } from 'apollo-link'
import { BvEvent } from 'bootstrap-vue'
import EditCase from './../Case/EditCase.vue'
import CaseListItem from '../Case/CaseListItem.vue'
import { CASES_QUERY, loadCases } from './CasesQueries'

@Component({
  components: {
    'case-list-item': CaseListItem,
    'edit-case': EditCase
  }
})
export default class Cases extends Vue {
  isAuthenticated = false
  successMessage = ''
  errorMessage = ''
  cases: (CasesQuery_cases | null)[] = []
  editMode = false
  caseToEdit: CasesQuery_cases | undefined
  isLoading = false

  created() {
    serverBus.$on('logged_in', this.onLoggedIn)
    serverBus.$on('logged_out', this.onLoggedOut)
    serverBus.$on('add_case_success', this.onAddCaseSuccess)
    serverBus.$on('add_case_closed', this.onAddCaseClosed)
  }

  mounted() {
    if (isAuthenticated()) {
      this.refreshCases()
    }
    this.successMessage = ''
  }

  async refreshCases() {
    logger.info(`Refreshing cases`)
    this.isLoading = true

    try {
      this.cases = (await loadCases(this.$apollo)) ?? []
    } catch (e) {
      logger.error(e)
      this.errorMessage = e
    } finally {
      this.isLoading = false
    }
    logger.debug(`Refresh complete`)
  }

  onLoggedIn() {
    this.refreshCases()
  }

  onLoggedOut() {
    this.cases = []
  }

  onAddCaseSuccess() {
    logger.info('Add case dialog closed after creating case')
    this.successMessage = 'New case created'
    this.refreshCases()
  }

  onAddCaseClosed() {
    logger.info('Add case dialog closed')
  }

  onClickEditCase(event: BvEvent) {
    this.editMode = true
    this.caseToEdit = event.item as CasesQuery_cases
    logger.info(`Showing edit case screen`)
  }

  async onClickRefreshCases(event: BvEvent) {
    await this.refreshCases()
  }

  onSuccessDismissed(event: BvEvent) {
    this.resetState()
  }

  onErrorDismissed(event: BvEvent) {
    this.resetState()
  }

  resetState() {
    this.editMode = false
    this.caseToEdit = undefined
    this.successMessage = ''
    this.errorMessage = ''
    logger.debug('State reset')
  }
}
</script>
