<template>
  <b-modal
    id="modalLogin"
    ref="modalLogin"
    @ok="login"
    @hide="preventClose"
    cancel-disabled
    hide-header-close
    title="Login required"
  >
    <error-alert id="login-error" :message="errorMessage" />
    <b-form-group label="User" label-for="user-input" invalid-feedback="User is required">
      <b-form-input id="user-input" ref="focusThis" v-model="username" required />
    </b-form-group>
    <b-form-group
      label="Password"
      label-for="password-input"
      invalid-feedback="Password is required"
    >
      <b-form-input id="password-input" v-model="password" type="password" required />
    </b-form-group>
    <template v-slot:modal-footer="{ ok }">
      <!-- Emulate built in modal footer ok and cancel button actions -->
      <b-button size="sm" variant="success" id="login-button" @click="ok()">
        Login
      </b-button>
    </template>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { BvModalEvent, BModal } from 'bootstrap-vue'
import serverBus from '../../common/serverBus'
import logger from '../../common/logger'
import { storeToken } from '../../common/authentication'
import gql from 'graphql-tag'
import { LoginMutation, LoginMutationVariables } from '../graphql/LoginMutation'
import { FetchResult } from 'apollo-link'
import { triggerLogin } from './Queries'

@Component
export default class Login extends Vue {
  username = ''
  password = ''
  errorMessage = ''

  async login(bModal: BvModalEvent) {
    bModal.preventDefault()
    this.errorMessage = ''

    try {
      logger.info('Triggering login')

      // Validate input
      if (this.username === '' || this.password === '') {
        this.errorMessage = 'Please enter username and password'
        return
      }

      // Trigger login mutation
      await triggerLogin(this.$apollo, this.username, this.password)

      // Clear data on success
      this.resetModel()
    } catch (error) {
      // log and display error messages
      logger.error(error)
      this.errorMessage = error
    }
  }

  resetModel() {
    this.username = ''
    this.password = ''
    this.errorMessage = ''
  }

  preventClose(bModal: BvModalEvent) {
    // Prevent modal from disappearing when clicking in the gray area on pressing escape
    if (bModal.trigger === 'backdrop' || bModal.trigger === 'esc') {
      bModal.preventDefault()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
