<template>
  <add-position :onClose="closeAddPositionModal" :caseId="caseIdToAddPosition" />
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import AddPositionModal from '../Positions/AddPositionModal.vue'
import serverBus from '../../common/serverBus'
import logger from '../../common/logger'

@Component({
  components: {
    'add-position': AddPositionModal
  }
})
export default class Modals extends Vue {
  caseIdToAddPosition: number = -1

  created() {
    serverBus.$on('show_add_position_modal', caseId => {
      this.addPositionToCase(caseId)
    })
  }

  addPositionToCase(caseId: number) {
    logger.debug(`Showing AddPositionModal`)
    this.$bvModal.show('addPositionModal')
    this.caseIdToAddPosition = caseId
  }

  closeAddPositionModal() {
    logger.debug(`Closing AddPositionModal`)
    this.$bvModal.hide('addPositionModal')
    this.caseIdToAddPosition = -1
  }
}
</script>
<style lang="scss" scoped></style>
