<template>
  <b-modal
    id="addPositionModal"
    ref="modal"
    title="Add Position to Case"
    @ok="handleSubmit"
    @hide="handleClose"
  >
    <validation-observer ref="observer">
      <b-row>
        <b-col sm="6">
          <input-field
            id="creation-date"
            label="Date"
            v-model="date"
            type="date"
            validation-rules="required"
          />
        </b-col>
        <b-col sm="6">
          <input-field
            id="creation-time"
            label="Time"
            v-model="time"
            type="time"
            validation-rules="required"
          />
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="6">
          <input-field
            id="latitude"
            label="Latitude"
            v-model="latitude"
            validation-rules="float"
            number
          />
        </b-col>
        <b-col sm="6">
          <input-field
            id="longitude"
            label="Longitude"
            v-model="longitude"
            validation-rules="float"
            number
          />
        </b-col>
      </b-row>
    </validation-observer>
  </b-modal>
</template>

<script lang="ts">
import Vue from 'vue'
import {
  dateToDateString,
  dateToTimeString,
  combineDateTimeToBackendString
} from '../../common/converters/DateTimeConverter'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { AddPositionToCase, AddPositionToCaseVariables } from './graphql/AddPositionToCase'
import { ADD_POSITION_MUTATION, addPositionToCase } from './PositionQueries'
import { FetchResult } from 'apollo-link'
import logger from '../../common/logger'
import { BvEvent } from 'bootstrap-vue'
import { CASES_QUERY } from '../Cases/CasesQueries'
import { CasesQuery, CasesQuery_cases } from '../Cases/graphql/CasesQuery'
import { PositionInput } from '../../global-query-types'
import serverBus from '../../common/serverBus'

@Component
export default class AddPositionModal extends Vue {
  // data
  latitude = 0.0
  longitude = 0.0
  date = dateToDateString(new Date())
  time = dateToTimeString(new Date())

  // props
  @Prop() onClose?: () => void
  @Prop() caseId?: string

  mounted() {
    this.resetForm()
  }

  async handleSubmit(event: BvEvent) {
    event.preventDefault()

    logger.debug('Attempting to add to position to case')
    if (!this.caseId?.length) throw Error('caseId not populated')
    try {
      await addPositionToCase(
        this.$apollo,
        this.latitude,
        this.longitude,
        this.date,
        this.time,
        this.caseId
      )
      logger.info('Created new position for case')
      this.handleClose()
    } catch (e) {
      logger.error(e)
      serverBus.$emit('error', e)
    }
  }

  resetForm() {
    this.latitude = 0.0
    this.longitude = 0.0
    this.date = dateToDateString(new Date())
    this.time = dateToTimeString(new Date())
  }

  handleClose() {
    this.resetForm()
    if (this.onClose != null) {
      this.onClose()
    }
  }
}
</script>
