<template>
  <div class="mt-0">
    <b-button-toolbar key-nav aria-label="Toolbar with button groups" class="mb-4 mt-3">
      <b-button-group class="mr-2">
        <b-button block @click="onClickBack" id="backButton">
          <b-icon-backspace /> Go Back
        </b-button>
      </b-button-group>
    </b-button-toolbar>
    <map-area id="mapArea" ref="mapArea" :positions="positions"></map-area>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, PropSync } from 'vue-property-decorator'
import Position from './../../models/Position'
import MapArea from '../Common/MapArea.vue'
import logger from './../../common/logger'
import { CasesQuery_cases_positions } from '../Cases/graphql/CasesQuery'

@Component({
  components: {
    'map-area': MapArea
  }
})
export default class Positions extends Vue {
  @Prop() caseId!: String
  @Prop() positions!: Array<CasesQuery_cases_positions>

  onClickBack() {
    this.$router.back()
  }
}
</script>

<style lang="scss" scoped>
#map-area {
  height: 100vh;
}
.leaflet-container {
  margin-top: 0 !important;
}
</style>
