<template>
  <validation-provider :rules="validationRules" v-slot="validationContext">
    <b-form-group :id="groupId" :label="label" :label-for="inputId">
      <b-form-input
        :id="inputId"
        v-model="internalValue"
        :type="type"
        :placeholder="placeholder"
        :state="
          validationContext.dirty && validationContext.validated ? validationContext.valid : null
        "
      ></b-form-input>
      <b-form-invalid-feedback>{{
        validationContext.errors ? validationContext.errors[0] : ''
      }}</b-form-invalid-feedback>
    </b-form-group>
  </validation-provider>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch, Model } from 'vue-property-decorator'

@Component({})
export default class InputField extends Vue {
  @Prop() id!: string
  @Prop({ default: '' }) label?: string
  @Prop({ default: 'text' }) type?: string
  @Prop({ default: '' }) invalidFeedback?: string
  @Prop({ default: '' }) placeholder?: string
  @Prop({ default: '' }) validationRules?: string
  @Prop({ default: '' }) value!: string
  @Prop({ default: false }) number?: boolean

  internalValue: any = ''

  mounted() {
    this.internalValue = this.value || ''
  }

  @Watch('internalValue')
  internalValueWatch(newValue: string, oldValue: string) {
    this.$emit('input', newValue)
  }

  get groupId() {
    return this.id + '-group'
  }

  get inputId() {
    return this.id + '-input'
  }
}
</script>
