<template>
  <!-- <div> -->
  <l-map ref="map" :zoom="zoom" :center="center">
    <l-tile-layer :url="url"></l-tile-layer>
    <!-- TODO find a binding key -->
    <div v-for="(position, index) in positions" v-bind:key="index" v-bind:index="index">
      <l-marker :lat-lng="[position.latitude, position.longitude]"></l-marker>
    </div>
  </l-map>
  <!-- </div> -->
</template>

<script lang="ts">
import L, { Icon, LatLngLiteral } from 'leaflet'
import { LMap, LTileLayer, LMarker } from 'vue2-leaflet'
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import Position from '../../models/Position'

// Fix leaflet import, see https://korigan.github.io/Vue2Leaflet/#/quickstart.md and http://www.solasistim.net/posts/vue_leaflet_typescript/
const leaflet = require('leaflet')
delete leaflet.Icon.Default.prototype._getIconUrl
const iconRetinaUrl = require('leaflet/dist/images/marker-icon-2x.png')
const iconUrl = require('leaflet/dist/images/marker-icon.png')
const shadowUrl = require('leaflet/dist/images/marker-shadow.png')
leaflet.Icon.Default.mergeOptions({ iconRetinaUrl, iconUrl, shadowUrl })

@Component({
  components: {
    'l-map': LMap,
    'l-tile-layer': LTileLayer,
    'l-marker': LMarker
  }
})
export default class MapArea extends Vue {
  url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
  zoom = 5
  center = <LatLngLiteral>{ lat: 38.575655, lng: 10.710734 }
  @Prop() positions?: Array<Position>
}
</script>

<style lang="scss" scoped>
@import url('~leaflet/dist/leaflet.css');

#mapArea {
  height: calc(100vh - 40px);
  margin-top: 40px;
}

.vehicle-marker {
  height: 16px !important;
  width: 16px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
</style>
