<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand>SARchive</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/"><b-icon-archive-fill /> Cases</b-nav-item>
          <b-nav-item :to="{ name: 'editCase', params: { editMode: 'false' } }"
            ><b-icon-plus /> Add Case</b-nav-item
          >
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 mr-sm-2" type="submit"
              ><b-icon-search /> Search</b-button
            >
          </b-nav-form>
          <b-button right class="mr-sm-2" @click="handleSignOut"
            ><b-icon-power /> Sign Out</b-button
          >
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import serverBus from '../../common/serverBus'

@Component
export default class MenuBar extends Vue {
  handleSignOut() {
    serverBus.$emit('logged_out')
  }
}
</script>

<style></style>
