<template>
  <b-form @submit.prevent="onSubmit" v-if="value != null">
    <!-- Header Info -->
    <input-field
      id="caseNumber"
      label="Case Number"
      v-model="value.caseNumber"
      type="text"
      validation-rules="required"
    />
    <b-row>
      <b-col sm="6">
        <input-field
          id="creation-date"
          label="Date"
          v-model="value.creationDate"
          type="date"
          validation-rules="required"
        />
      </b-col>
      <b-col sm="6">
        <input-field
          id="creation-time"
          label="Time"
          v-model="value.creationTime"
          type="time"
          validation-rules="required"
        />
      </b-col>
    </b-row>
    <b-form-group id="input-group-freetext" label="Notes" label-for="input-freetext">
      <b-form-textarea
        id="freetext-input"
        v-model="value.freetext"
        placeholder="Enter any additional information..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </b-form-group>
    <!-- first position -->
    <b-row v-if="showPositionInput">
      <b-col sm="6">
        <input-field
          id="latitude"
          label="Latitude"
          v-model="value.latitude"
          validation-rules="float"
          number
        />
      </b-col>
      <b-col sm="6">
        <input-field
          id="longitude"
          label="Longitude"
          v-model="value.longitude"
          validation-rules="float"
          number
        />
      </b-col>
    </b-row>
    <!-- Boat Info -->
    <b-row>
      <b-col>
        <b-form-group id="input-group-boat-type" label="Boat Type" label-for="input-boat-type">
          <b-form-select
            id="boat-type-input"
            v-model="value.boatType"
            :options="boatTypes"
            required
          ></b-form-select>
        </b-form-group>
      </b-col>
      <b-col>
        <input-field id="boat-color" label="Boat Color" v-model="value.boatColor" type="color" />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <input-field
          id="engine-status"
          label="Engine Status"
          v-model="value.engineStatus"
          type="text"
          placeholder="Estimated engine status"
        />
      </b-col>
    </b-row>
    <b-form-group id="id-people-on-board" label="People on Board">
      <!-- POB Info -->
      <b-row>
        <b-col sm="3">
          <input-field
            id="pob-women"
            label="Women"
            number
            v-model="value.womenPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-men"
            label="Men"
            number
            v-model="value.menPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-minors"
            label="Minors"
            number
            v-model="value.minorsPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-medical"
            label="Medical"
            number
            v-model="value.medicalPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-missing"
            label="Missing"
            number
            v-model="value.missingPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-drowned"
            label="Drowned"
            number
            v-model="value.drownedPob"
            validation-rules="integer"
          />
        </b-col>
        <b-col sm="3">
          <input-field
            id="pob-total"
            label="Total"
            number
            v-model="value.totalPob"
            validation-rules="integer"
          />
        </b-col>
      </b-row>
    </b-form-group>
    <b-row>
      <b-col>
        <input-field id="link" label="Link (e.g. Twitter, ...)" v-model="value.link" type="text" />
      </b-col>
    </b-row>
    <b-form-group id="input-group-tags" label="Tags" label-for="input-tags">
      <tags-input
        element-id="tags"
        v-model="value.tags"
        :existing-tags="typeAheadTags"
        :typeahead="true"
        typeahead-style="dropdown"
      />
    </b-form-group>
    <div>
      <b-button type="reset" class="mr-2" variant="danger" @click="onCancel">Cancel</b-button>
      <b-button type="submit" variant="success">Save</b-button>
    </div>
  </b-form>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import CaseFormInput from '../../models/CaseFormInput'
import { BvEvent } from 'bootstrap-vue'
import { BoatType } from '../../global-query-types'
import { CategoriesQuery_categories, CategoriesQuery } from './graphql/CategoriesQuery'
import logger from './../../common/logger'
import { CATEGORIES_QUERY, refreshCategories } from './Queries'

interface TypeAheadTags {
  key: string
  value: string
}

@Component
export default class CaseForm extends Vue {
  boatTypes: string[] = Object.keys(BoatType).map(k => BoatType[k])
  typeAheadTags: TypeAheadTags[] = []

  @Prop() value!: CaseFormInput
  @Prop() onSubmit!: (eventsArgs: BvEvent) => void
  @Prop() onCancel!: (eventsArgs: BvEvent) => void
  @Prop() categories!: CategoriesQuery_categories[]
  @Prop({ default: false }) showPositionInput!: boolean

  async mounted() {
    logger.trace(
      `Mounting form with model '${JSON.stringify(this.value)} and categories '${JSON.stringify(
        this.categories
      )}''`
    )
    this.typeAheadTags = await this.refreshTypeahead()
  }

  async refreshTypeahead(): Promise<TypeAheadTags[]> {
    var categories = await refreshCategories(this.$apollo)
    return categories != null && categories.length > 0
      ? categories
          .map(c =>
            c != null && c.tags != null && c.tags.length > 0
              ? c.tags.map(t => {
                  return <TypeAheadTags>{
                    key: c.name + ':' + t.name,
                    value: t.name
                  }
                })
              : []
          )
          .reduce((previous: TypeAheadTags[], current: TypeAheadTags[]) =>
            previous != null ? previous.concat(current) : current
          )
      : []
  }
}
</script>
