<template>
  <div class="mb-4 p-2 border border-dark rounded item" v-if="caseObject != null">
    <div class="d-flex item-header">
      <div class="col-3 col-sm-8 d-flex justify-content-between" v-b-toggle="this.caseElementId">
        <b-icon icon="arrows-expand" font-scale="2" class="when-closed" />
        <b-icon icon="arrows-collapse" font-scale="2" class="when-opened" />
        <div class="title item-text">{{ caseObject.caseNumber }}</div>
        <div class="item-text">{{ caseObject.boat.type }}/{{ caseObject.boat.color }}</div>
        <div class="item-text">POB: {{ totalPob }}</div>
        <div class="item-text">{{ caseObject.timestamp }}</div>
      </div>
      <div class="col-sm-4">
        <div class="float-right">
          <b-link
            class="btn btn-link"
            :to="{
              name: 'positions',
              params: { id: caseObject.id, positions: caseObject.positions }
            }"
            ><b-icon-map /> Map</b-link
          >
          <b-link
            class="btn btn-link"
            :to="{
              name: 'editCase',
              params: { editMode: true, caseToEdit: caseObject }
            }"
            ><b-icon-pen /> Edit</b-link
          >
          <b-link
            class="btn btn-link"
            :to="{
              name: 'caseDetail',
              params: { id: caseObject.id }
            }"
            ><b-icon-list /> Details</b-link
          >
        </div>
      </div>
    </div>
    <b-collapse :id="this.caseElementId" class="mt-2">
      <case-detail-data :caseObject="caseObject" />
    </b-collapse>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { CasesQuery_cases } from '../Cases/graphql/CasesQuery'
import { filterGraphQlProperties } from '../../common/helpers'
import { BvEvent } from 'bootstrap-vue'
import { formatLatLng, formatFirstUp } from '../../common/formatters'
import MapArea from '../MapArea.vue'
import CaseDetailData from '../Case/CaseDetailData.vue'
import { determineTotalPob } from '../../common/converters/CaseConverter'

@Component({
  components: {
    'case-detail-data': CaseDetailData
  }
})
export default class CaseListItem extends Vue {
  @Prop() caseObject?: CasesQuery_cases

  get caseElementId() {
    return this.caseObject != null ? `case-${this.caseObject.id}` : undefined
  }

  get totalPob() {
    return this.caseObject != null ? determineTotalPob(this.caseObject) : 0
  }
}
</script>

<style scoped lang="scss">
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.item-header {
  line-height: 2;
  svg,
  .item-text {
    padding-top: 0.2em;
  }
  :hover {
    cursor: pointer;
  }
}
.title {
  font-weight: bold;
}
</style>
