<template>
  <div>
    <p v-if="caseObject.freetext && caseObject.freetext.length">{{ caseObject.freetext }}</p>
    <p v-else>No notes maintained</p>
    <b-card-group>
      <b-card>
        <b-card-title>People</b-card-title>
        <b-list-group>
          <b-list-group-item
            v-for="(value, propertyName) in peopleProps"
            v-bind:key="propertyName"
            class="d-flex justify-content-between align-items-center"
          >
            {{ propertyName | firstUp }}
            <b-badge variant="danger">{{ value }}</b-badge>
          </b-list-group-item>
        </b-list-group>
      </b-card>
      <b-card>
        <b-list-group>
          <b-card-title>Boat</b-card-title>
          <b-list-group-item
            class="d-flex justify-content-between align-items-center"
            v-for="(value, propertyName) in boatProps"
            v-bind:key="propertyName"
          >
            <b-card-text class="mb-0">{{ propertyName | firstUp }}</b-card-text>
            <b-card-text>{{ value }}</b-card-text>
          </b-list-group-item>
        </b-list-group>
      </b-card>
      <b-card>
        <b-card-title>Positions</b-card-title>
        <b-button block @click="onClickAddPosition" class="mb-2">
          <b-icon-plus /> Add Position
        </b-button>
        <b-list-group v-if="caseObject.positions && caseObject.positions.length">
          <position-list-item
            v-for="(pos, index) in caseObject.positions"
            v-bind:key="index"
            :position="pos"
            :onClickDeletePosition="onClickDeletePosition"
          />
        </b-list-group>
        <b-card-text v-else>No positions maintained</b-card-text>
      </b-card>
    </b-card-group>

    <b-card-footer>
      <div v-if="caseObject.categories && caseObject.categories.length">
        <b-badge v-for="(tag, index) in tags" v-bind:key="index" class="mr-2">{{ tag }}</b-badge>
      </div>
      <b-card-text v-else>No tags maintained</b-card-text>
    </b-card-footer>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { CaseQuery, CaseQuery_case } from './graphql/CaseQuery'
import logger from '../../common/logger'
import { filterGraphQlProperties } from '../../common/helpers'
import { formatFirstUp } from '../../common/formatters'
import serverBus from '../../common/serverBus'
import { deletePosition } from './Queries'
import { CasesQuery_cases_positions, CasesQuery_cases } from '../Cases/graphql/CasesQuery'
import PositionListItem from './PositionListItem.vue'

@Component({
  filters: {
    firstUp: (value: string) => formatFirstUp(value)
  },
  components: {
    'position-list-item': PositionListItem
  }
})
export default class CaseDetailData extends Vue {
  @Prop() caseObject!: CaseQuery_case

  get peopleProps() {
    return filterGraphQlProperties(this.caseObject?.peopleOnBoard)
  }

  get boatProps() {
    return filterGraphQlProperties(this.caseObject?.boat)
  }

  get tags() {
    if (!this.caseObject?.categories?.length) return undefined
    return this.caseObject.categories
      ?.map(c => c?.tags?.map(t => c.name + ':' + t.name))
      .reduce((previousValue: string[] | undefined, currentValue: string[] | undefined) => {
        return currentValue != null ? previousValue?.concat(currentValue) : previousValue
      })
  }

  onClickAddPosition() {
    serverBus.$emit('show_add_position_modal', this.caseObject.id)
  }

  async onClickDeletePosition(position: CasesQuery_cases_positions): Promise<void> {
    logger.debug('Deleting position for case')
    await deletePosition(this.$apollo, position.id, position.caseId)
    this.caseObject.positions = this.caseObject?.positions?.filter(p => p?.id !== position.id) ?? []
    serverBus.$emit('success_message', 'Position deleted')
  }
}
</script>

<style lang="sass" scoped></style>
