<template>
  <div v-if="caseObject != null">
    <h3>
      {{ caseObject.caseNumber }}
    </h3>
    <p>POB: {{ totalPob }}</p>
    <p>{{ caseObject.timestamp }}</p>

    <case-detail-data :caseObject="caseObject" />
  </div>
  <p v-else>Loading ...</p>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'vue-property-decorator'
import { CaseQuery, CaseQuery_case } from './graphql/CaseQuery'
import logger from '../../common/logger'
import { FetchResult } from 'apollo-link'
import { CASE_QUERY, loadCase } from './Queries'
import CaseDetailData from './CaseDetailData.vue'
import serverBus from '../../common/serverBus'
import { determineTotalPob } from '../../common/converters/CaseConverter'

@Component({
  components: {
    'case-detail-data': CaseDetailData
  }
})
export default class CaseDetail extends Vue {
  caseObject: CaseQuery_case = <CaseQuery_case>{ boat: {}, peopleOnBoard: {} }

  mounted() {
    this.loadCase()
  }

  get totalPob() {
    return determineTotalPob(this.caseObject)
  }

  async loadCase() {
    this.caseObject = (await loadCase(this.$apollo, this.$route.params.id))!
  }
}
</script>

<style lang="sass" scoped></style>
