<template>
  <b-container>
    <b-button-toolbar key-nav aria-label="Toolbar with button groups" class="mb-4 mt-3">
      <b-button-group class="mr-2">
        <b-button block @click="onCancel" id="backButton"> <b-icon-backspace /> Go Back </b-button>
      </b-button-group>
    </b-button-toolbar>
    <validation-observer ref="observer">
      <error-alert :message="errorMessage" />
      <case-form
        v-model="formData"
        :onSubmit="onSubmit"
        :onCancel="onCancel"
        :categories="categories"
        :showPositionInput="!editMode"
      />
    </validation-observer>
  </b-container>
</template>

<script lang="ts">
import { BoatType } from '../../global-query-types'
import { BvModalEvent, BvEvent, BModal } from 'bootstrap-vue'
import { Component, Prop, Watch } from 'vue-property-decorator'
import { CreateCaseMutation, CreateCaseMutationVariables } from './graphql/CreateCaseMutation'
import { UpdateCaseMutation, UpdateCaseMutationVariables } from './graphql/UpdateCaseMutation'
import gql from 'graphql-tag'
import logger from '../../common/logger'
import CaseFormInput from '../../models/CaseFormInput'
import cuid from 'cuid'
import Vue from 'vue'
import { CategoriesQuery, CategoriesQuery_categories } from './graphql/CategoriesQuery'
import { convertCaseFormInput, convertCaseToFormInput } from '../../common/converters/CaseConverter'
import serverBus from '../../common/serverBus'
import CaseForm from './CaseForm.vue'
import { CASES_QUERY } from '../Cases/CasesQueries'
import {
  CasesQuery,
  CasesQuery_cases,
  CasesQuery_cases_categories
} from '../Cases/graphql/CasesQuery'
import {
  CATEGORIES_QUERY,
  CREATE_CASE_MUTATION,
  UPDATE_CASE_MUTATION,
  refreshCategories
} from './Queries'

@Component({
  components: {
    'case-form': CaseForm
  }
})
export default class EditCase extends Vue {
  formData: CaseFormInput = {}
  categories: CategoriesQuery_categories[] = []
  errorMessage: string = ''

  @Prop({ default: null }) caseToEdit: CasesQuery_cases | undefined
  @Prop({ default: false }) editMode!: boolean | string

  created() {
    logger.debug(`Edit mode: ${this.editMode}`)
    refreshCategories(this.$apollo)
    this.resetFormData()
  }

  mounted() {
    // HACK: Vue router requires passing props as string, parse to bool
    this.editMode = this.editMode === true
  }

  async onSubmit(eventArgs: BvEvent) {
    eventArgs.preventDefault()

    logger.trace(`Submitting case with form data: ${JSON.stringify(this.formData)}`)
    const caseObject = convertCaseFormInput(this.formData, this.categories)
    logger.trace('Submitting case with converted data: ' + JSON.stringify(caseObject))

    try {
      if (this.editMode && this.caseToEdit != null) {
        // Update case
        logger.debug('Updating existing case in backend')
        const updatedCaseInput: UpdateCaseMutationVariables = {
          case: { id: this.caseToEdit.id, ...caseObject.case }
        }
        await this.$apollo.mutate<UpdateCaseMutation, UpdateCaseMutationVariables>({
          mutation: UPDATE_CASE_MUTATION,
          variables: updatedCaseInput
        })
      } else {
        // Create case
        logger.debug('Creating new case in backend')
        await this.$apollo.mutate<CreateCaseMutation, CreateCaseMutationVariables>({
          mutation: CREATE_CASE_MUTATION,
          variables: caseObject
        })
      }

      serverBus.$emit('add_case_success')
      this.navigateBack()
    } catch (e) {
      this.$nextTick(() => {
        this.errorMessage = e
      })

      logger.error(e)
    }
  }

  async onCancel(eventArgs: BvEvent) {
    this.navigateBack()
  }

  navigateBack() {
    this.$router.back()
  }

  resetFormData() {
    if (this.editMode && this.caseToEdit != null) {
      logger.trace(`Prepopulating form with case data '${JSON.stringify(this.caseToEdit)}'`)
      this.formData = convertCaseToFormInput(this.caseToEdit)
    } else {
      this.formData = this.buildInitialFormData()
    }
  }

  buildInitialFormData() {
    const now = new Date()
    return <CaseFormInput>{
      caseNumber: 'DCXXX',
      boatType: BoatType.RUBBER,
      boatColor: '#FF0000',
      engineStatus: '',
      womenPob: 0,
      menPob: 0,
      minorsPob: 0,
      drownedPob: 0,
      missingPob: 0,
      medicalPob: 0,
      creationDate: now.toISODateString(),
      creationTime: now.toShortTimeString(),
      tags: []
    }
  }
}
</script>
