<template>
  <b-list-group-item>
    <b-row>
      <b-col class="col-sm-9">
        <span class="position-latitude">Lat: {{ position.latitude | formatLatLng }}</span
        ><br />
        <span class="position-longitude">Lng: {{ position.longitude | formatLatLng }}</span>
        <br />
        <span class="position-timestamp">At: {{ position.timestamp }}</span>
      </b-col>
      <b-col class="d-flex flex-row-reverse">
        <b-button
          :variant="deleteClicked ? 'danger' : 'secondary'"
          @click="onClickDeleteInternal(position)"
          ><b-icon-trash-fill
        /></b-button>
      </b-col>
    </b-row>
    <p v-if="deleteClicked" class="mb-0 text-danger">
      <small>Click again to delete position</small>
    </p>
  </b-list-group-item>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { CasesQuery_cases_positions } from '../Cases/graphql/CasesQuery'
import { formatLatLng } from '../../common/formatters'
import logger from '../../common/logger'
import { deletePosition } from './Queries'

@Component({
  filters: {
    formatLatLng: (value: number) => formatLatLng(value)
  }
})
export default class PositionListItem extends Vue {
  deleteClicked = false

  @Prop() position!: CasesQuery_cases_positions
  @Prop() onClickDeletePosition!: (position: CasesQuery_cases_positions) => void

  mounted() {
    // reset state when loading component
    this.deleteClicked = false
  }

  async onClickDeleteInternal(position: CasesQuery_cases_positions): Promise<void> {
    // On first click only switch icon to have user confirm deletion
    if (!this.deleteClicked) {
      this.deleteClicked = true
      return
    }

    // On second click, trigger deletion
    await this.onClickDeletePosition(position)
    this.deleteClicked = false // this position list item will be re-used by vue, hence reset state
  }
}
</script>
