<template>
  <div id="app">
    <menu-bar />
    <login v-if="showLogin" />
    <div id="mainWindow">
      <modals />
      <router-view class="p-2" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import MenuBar from './components/Common/MenuBar.vue'
import Login from './components/Modals/Login.vue'
import serverBus from './common/serverBus'
import logger from './common/logger'
import { isAuthenticated, logout } from './common/authentication'
import Modals from './components/Modals/Modals.vue'

@Component({
  components: {
    'menu-bar': MenuBar,
    modals: Modals,
    login: Login
  }
})
export default class App extends Vue {
  addPositionCaseId = ''
  showLoginModal = false

  created() {
    serverBus.$on('logged_in', this.onLoggedIn)
    serverBus.$on('logged_out', this.onLoggedOut)
    serverBus.$on('token_expired', this.onTokenExpired)
    serverBus.$on('error', this.onError)
    serverBus.$on('success_message', this.onSuccessMessage)
  }

  mounted() {
    if (isAuthenticated()) {
      this.hideLogin()
    } else {
      this.showLogin()
    }
    logger.debug('Is user authenticated? ' + !this.showLogin)
  }

  onLoggedIn() {
    logger.info('User logged in')
    this.hideLogin()
  }

  onLoggedOut() {
    logger.info('User logged out')
    this.resetApp()
  }

  onTokenExpired() {
    logger.info('User token expired')
    this.resetApp()
  }

  onError(error: string) {
    logger.error(error)
    this.$bvToast.toast(error, { variant: 'danger', noAutoHide: true })
  }

  onSuccessMessage(successMessage: string) {
    logger.info(successMessage)
    this.$bvToast.toast(successMessage, { variant: 'success', noAutoHide: false })
  }

  showLogin() {
    this.showLoginModal = true
    this.$bvModal.show('modalLogin')
  }

  hideLogin() {
    this.showLoginModal = false
    this.$bvModal.hide('modalLogin')
  }

  resetApp() {
    logout()
    this.showLogin()
  }
}
</script>
